<div class="app" [class.pictures-maximized]="picturesMaximized">
  <div class="app-toolbar">
    <button mat-icon-button class="example-icon" (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">Spantastic image browser</span>
  </div>

  <mat-drawer-container class="app-container" autosize>
    <mat-drawer #drawer class="app-sidenav" mode="side" [opened]="true">
      <app-topics-list class="app-side-nav" (select)="topicSelected($event)"></app-topics-list>
    </mat-drawer>

    <app-picture-scroller [showNavButtons]="!drawer.opened" class="app-sidenav-content"></app-picture-scroller>

  </mat-drawer-container>

</div>
