/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//.viewport {
//  .p-carousel-prev-icon {
//    height: calc(100vh - 50px);
//    width: 40px;
//  }
//}
.p-carousel-container {
  button {
    background: #ded4cc;
    height: calc(100vh - 50px);
    width: 40px;
  }
}
